header {
  height: 66px;
  background-color: #5a5a5a;
}

.header-shell {
  display: flex;
  height: inherit;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: 100%;
  color: white;
  line-height: 66px;
  text-align: center;
  cursor: pointer;
  background: url('../../assets/imgs/logo512.png') center/46% no-repeat;
  animation: logo-rotate 3s linear infinite;
}

.navigator {
  display: flex;
  height: 100%;
  list-style: none;
}

.navigator a {
  min-width: 80px;
  padding: 0 16px;
  height: 100%;
  line-height: 66px;
  color: white;
  text-align: center;
  margin: 0 14px;
  cursor: pointer;
  font-size: 16px;
}

.navigator a:hover {
  background-color: #9c9c9c;
  color: #eaeaea;
}

@keyframes logo-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}