header {
  height: 66px;
  background-color: #5a5a5a;
}

.header-shell {
  display: flex;
  height: inherit;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: 100%;
  color: white;
  line-height: 66px;
  text-align: center;
  cursor: pointer;
  background: url('../../assets/imgs/logo512.png') center/46% no-repeat;
}

.header-tab {
  display: flex;
  height: 100%;
  list-style: none;
}

.header-tab li {
  min-width: 80px;
  height: 100%;
  line-height: 66px;
  color: white;
  text-align: center;
  margin: 0 14px;
  cursor: pointer;
}

.header-tab li:hover {
  background-color: #9c9c9c;
  color: #eaeaea;
}